body{
  font-family:Arial, Helvetica, sans-serif;
}
.color-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  font-size: 2em;
  margin: 40px;
}
.color-display{
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 10px;
}
.color-display p{
  font-size: 2rem;
  text-align: center;
}

label{
  font-size: 1.5rem;
  margin-bottom: 20px;
}
input[type="color"]{
  width: 100px;
  height: 60px;
  border-radius: 10px;
  padding: 5px;
}